<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
