:root {
  color-scheme: light dark;
}

ul.programming-languages {
    display: flex;
    padding: 0;
    flex-wrap: wrap;	
}


ul.programming-languages li {
    display: flex;
    margin-left: .5em;
    padding: .1em;
}

ul.programming-languages li, .prog-lang {
    background-color: ButtonFace;
    color: ButtonText;
}

.prog-lang {
    font-size: 90%;
}

main {
    max-width: 40em;
}

.myprojects {
    line-height: 120%;
}
