{{define "main"}}

<h1>{{.Title}}</h1>

<dl>
  <dt>Repo URL</dt><dd><a href="{{.Params.RepoUrl}}">{{.Params.RepoUrl}}</a></dd>
  {{with .Params.ReadmeUrl}}<dt>Readme</dt><dd><a href="{{.}}">{{.}}</a></dd>{{end}}
  <dt>Languages</dt><dd><ul class="programming-languages">{{range .Params.ProgLang}}<li>{{.}}</li>{{end}}</ul></dd>
</dl>

{{.Content}}
{{end}}
