{{ $css := resources.Get "css/style.css" | resources.Fingerprint }}
<title>{{compare.Default site.Title .Title}}</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" />
