{{define "main" }}
{{.Content}}

<section>
<h2>My projects</h2>

<p>Programs developed in my free time.

  <ul class="myprojects">
{{ range (where (.Site.RegularPages.ByLastmod.Reverse.ByParam "weight") "Section" "projects") }}
<li>{{if eq .Weight 1 }}☆{{end}}<a href="{{ .Permalink }}">{{.Params.title}}</a> {{range .Params.progLang}}<span class="prog-lang">{{.}}</span> {{end}}</li>
{{ end }}
</ul>
</p>
</section>

{{ end }}
